:root {
    --cor-fundo: #262626;
    --cor-texto: #e0e0e0;
    --cor-fundo2: #5F605D;

    --cor-3: #727271;
    --cor-4: #5F605D;
    --cor-5: #383838;
    --cor-6: #1E1E1E;
    --cor-7: #F65100;
    --cor-preto: #262626;
    --cor-branco: #e0e0e0;
}

body {
    font-size: 18px;
    color: var(--cor-texto);
    background-color: var(--cor-fundo);
    font-family: "Poppins", sans-serif;
}
