@import 'variables';

@mixin botao1($cor, $tamanho) {
    background-color: $cor;
    padding: 10px $tamanho;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    color: $cor-texto;

    transition: background-color 0.3s;

    &:hover {
        background-color: darken($cor, 10%);
    }
}

@mixin boxFuncs{
    
}

@mixin boxsForm($cor) {
    margin: 3px solid $cor;
    width: 600px;
    height: 500px;
    color: #000000;
}

@mixin boxHome {
    width: 35vw;
    height: 35vh;
    background-color: #f0f0f0;
    border-radius: 25px;
}

@mixin btnsHome {
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}