@import 'variables';
@import 'mixins';

body {
    font-size: 18px;
    color: $cor-texto;
    background-color: $cor-fundo;
    font-family: "Poppins", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

.boxsForm {
    @include boxsForm($cor-1);
}

.btn-primary1 {
    @include botao1($cor-2, 200px);
}

.btn-primary2 {
    @include botao1($cor-1, 170px);
}

.btn-menu{
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: 30px;
    cursor: pointer;

    &:hover {
        color: $cor-1;
    }
}

// menu
.menu {
    background-color: $cor-3;
    width: 40px;
    height: 90vh;
    display: flex;
    margin-left: 15px;
    border-radius: 100px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    left: 5px;
    top: 35px;

    li {
        i {
            font-size: 25px;
            margin-top: 10px;
            display: block;
        }

        i:hover {
            color: $cor-1;
        }
    }

    a {
        font-size: 25px;
        margin-bottom: 10px;
        display: block;
    }

    a:hover {
        color: $cor-1;
    }
}

// tela 1
#containerBemVindo{
    
    h1 {
        text-align: center;
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        font-size: 40px;
        font-weight: 700;

        span {
            color: $cor-1;
            font-weight: 200;
        }
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 50px;

        input {
            margin-bottom: 60px;
        }
    }
}

.parent_Home{
    position: absolute;
    right: 0px;
    width: 95vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 10px;

    .usuario { grid-area: 1 / 2 / 2 / 3;
        background-color: pink;
        height: 65px;
    }

    .saldo { grid-area: 2 / 2 / 3 / 3; 
        background-color: aqua;
        @include boxHome;
    }
    .caixinha { grid-area: 2 / 4 / 3 / 5; 
        @include boxHome;
    }
    .extrato { grid-area: 4 / 2 / 5 / 3; 
        @include boxHome;
    }
    .emprestimo { grid-area: 4 / 4 / 5 / 5; 
        @include boxHome;
    }

    .btns_principais { grid-area: 3 / 2 / 4 / 3;
            
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 90px;
        grid-row-gap: 0px;
        justify-items: center;
     
        .btn1 { grid-area: 1 / 1 / 2 / 2; 
            background-color:green;
            @include btnsHome;
        }
        .btn2 { grid-area: 1 / 2 / 2 / 3; 
            background-color:red;
            @include btnsHome;
        }
        .btn3 { grid-area: 1 / 3 / 2 / 4; 
            background-color: blue;
            @include btnsHome;
        }
        .btn4 { grid-area: 1 / 4 / 2 / 5; 
            background-color: yellow;
            @include btnsHome;
        }
    }
}



