@import 'variables';
@import 'mixins';

body {
    font-size: 18px;
    color: $cor-texto;
    background-color: $cor-fundo;
    font-family: "Poppins", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

.boxsForm {
    @include boxsForm($cor-1);
}

.btn-primary1 {
    @include botao1($cor-2, 200px);
}

.btn-primary2 {
    @include botao1($cor-1, 170px);
}

// menu
.menu {
    background-color: $cor-3;
    width: 40px;
    height: 90vh;
    display: flex;
    margin-left: 15px;
    border-radius: 100px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    left: 5px;
    top: 35px;

    li {
        i {
            font-size: 25px;
            margin-top: 10px;
            display: block;
        }

        i:hover {
            color: $cor-1;
        }
    }

    a {
        font-size: 25px;
        margin-bottom: 10px;
        display: block;
    }

    a:hover {
        color: $cor-1;
    }
}

// tela 1
#containerBemVindo{
    
    h1 {
        text-align: center;
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        font-size: 40px;
        font-weight: 700;

        span {
            color: $cor-1;
            font-weight: 200;
        }
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 50px;

        input {
            margin-bottom: 60px;
        }
    }
}



