// fontes
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

// colores
$cor-fundo: #262626;
$cor-texto: #e0e0e0;
$cor-fundo2: #5F605D;

$cor-1: #C51F5D;
$cor-2: #243447;